/*------------------- Variaveis -------------------*/
$cor-celulardireto: #4682B4
$cor-claro: red
$cor-oi: yellow
$cor-nextel: #000
$cor-tim: blue
$cor-vivo: purple 


/* ------------------ Estilo ----------------------*/
@import '_reset.sass' /*Reset*/

/*Menu superior*/
.menu-superior
   width: 100%
   background-color: $cor-celulardireto
   position: relative
   & .-claro
    background-color: $cor-claro
   & .-oi
    background-color: $cor-oi
   & .-nextel
    background-color: $cor-nextel
   & .-tim
    background-color: $cor-tim
   & .-vivo
    background-color: $cor-vivo   
   >.titulo
        color: #FFF
        height: 22px
        left: 3%
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 150px
   >.lista
        text-align: right
        >.itemlista
            color:#FFF 
            display: inline-block
            list-style: none
            padding: 15px
            >.link
                color: #FFF
                text-decoration: none
            &:hover
                background-color: #104E8B
           
/*Componente Login*/
.form-login
    border: 1px solid #696969
    border-radius: 10px
    box-shadow: 1px 1px 15px 1px #696969
    margin: 10% auto
    padding: 30px
    position: relative
    text-align: center
    width: 30%
    >.input
        border: 1px solid #000
        border-radius: 4px
        padding: 6px 12px
    & .-submit
        background-color: #5cb85c
        border-color: #4cae4c
        color: #FFF
        font-size: 15px
        font-weight: 500
            
        
